@page
@model HalfboardStats.Pages.PlayersModel
@{
}
<div class="container text-white">
    <h1>Players</h1>
    <table class="table">
        <thead>
            <tr class="text-white">
                <th>
                    ID
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Team
                </th>
                <th>
                    Number
                </th>
                <th>
                    Birth Date
                </th>
                <th>
                    Age
                </th>
                <th>
                    City of Birth
                </th>
            </tr>
        </thead>
        @foreach (var player in Model.Players)
        {
            <tr class="text-white">
                <td>
                    @Html.DisplayFor(modelPlayer => player.PlayerId)
                </td>

                <td>
                    @Html.DisplayFor(modlePlayer => player.FirstName)
                </td>

                <td>
                    @Html.DisplayFor(modelPlayer => player.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelPlayer => player.CurrentTeam.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelPlayer => player.PrimaryNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelPlayer => player.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelPlayer => player.CurrentAge)
                </td>
                <td>
                    @Html.DisplayFor(modelPlayer => player.BirthCity)
                </td>
            </tr>
        }
    </table>
    </div>
