@page
@model HalfboardStats.Presentation.Pages.PlayersModel
@{
}
<div class="container text-white">
    <h1>Players</h1>
    <div>
        <ul class="nav">

            <li class="nav-item">
                <a class="nav-link btn btn-secondary mx-2" asp-page="./Players" asp-route-currentPage="@(Model.CurrentPage - 1)">Previous</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-secondary mx-2" asp-page="./Players" asp-route-currentPage="@(Model.CurrentPage + 1)">Next</a>
            </li>
        </ul>

    </div>
    <table class="table table-dark table-sm table-hover">
        <thead>
            <tr class="text-white">
                <th>
                    ID
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Games
                </th>
                <th>
                    Goals
                </th>
                <th>
                    Assists
                </th>
                <th>
                    Points
                </th>
            </tr>
        </thead>
        @foreach (var Skater in Model.SkaterStats)
        {
            <tr class="text-white">
                <td>
                    @Html.DisplayFor(modelPlayer => Skater.Id)
                </td>

                <td>
                    @Html.DisplayFor(modelPlayer => Skater.Player.FirstName)
                </td>

                <td>
                    @Html.DisplayFor(modelPlayer => Skater.Player.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelPlayer => Skater.Games)
                </td>
                <td>
                    @Html.DisplayFor(modelPlayer => Skater.Goals)
                </td>
                <td>
                    @Html.DisplayFor(modelPlayer => Skater.Assists)
                </td>
                <td>
                    @Html.DisplayFor(modelPlayer => Skater.Points)
                </td>
            </tr>
        }
    </table>

</div>
